.char-prepare {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/bg1.png");
    background-repeat: repeat;
    background-size: 12%;
    position: relative;
}
.char-prepare .in-shadow {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 5em 1em rgba(0, 0, 0, 1);
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.char-prepare .left-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background-color: #151515;
}
.char-prepare .left-bar .rate-area {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
}
.char-prepare .left-bar .rate-area .cc-icon {
    fill: #2d2d2d;
    aspect-ratio: 1 / 1;
    transform: scale(120%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.char-prepare .left-bar .rate-area .clip {
    position: absolute;
    bottom: 22.5%;
    left: 17.5%;
    width: 65%;
    aspect-ratio: 8 / 5;
    --color: rgb(153, 0, 0);
    --width: 0.25rem;
    --length: 15%;
    background: 
    linear-gradient(var(--color) 0 0) bottom left / var(--length) var(--width),
    linear-gradient(var(--color) 0 0) top left / var(--length) var(--width),
    linear-gradient(var(--color) 0 0) left / var(--width) 100%,
    linear-gradient(var(--color) 0 0) bottom right/ var(--length) var(--width),
    linear-gradient(var(--color) 0 0) top right / var(--length) var(--width),
    linear-gradient(var(--color) 0 0) right / var(--width) 100%;
    background-repeat:no-repeat;
}
.char-prepare .left-bar .rate-area .rating {
    position: absolute;
    width: 70%;
    aspect-ratio: 1 / 1;
    bottom: 10%;
    left: 15%;
    background-image: url('../../assets/CC/SSS.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

.char-prepare .bottom-area {
    background-color: #200000;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 15%;
}
.char-prepare .bottom-area .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}
.char-prepare .bottom-area .footer .start {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18rem;
    height: 100%;
    background-color: #a40a1a;
    overflow: hidden;
    transition: all 100ms ease-in-out;
}
.char-prepare .bottom-area .footer .start:disabled {
    background-color: #777;
}
.char-prepare .bottom-area .footer .start:not(:disabled):active {
    filter: brightness(80%);
}
.char-prepare .bottom-area .footer .start .cc-icon {
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / 1;
    transform: translate(-20%, -45%);
    fill: #550410;
}
.char-prepare .bottom-area .footer .start:disabled .cc-icon {
    fill: #555;
}
.char-prepare .bottom-area .footer .start .text {
    z-index: 1;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-family: NotoSansHans;
    font-size: 1.5em;
    font-weight: 600;
}

.char-prepare .select-area {
    position: fixed;
    right: 0;
    top: 12.5%;
    height: 70%;
    width: 77.5%;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
}
.char-prepare .select-area .header {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.3);
}
.char-prepare .select-area .header>div {
    position: relative;
    top: 2.5%;
    height: 95%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}
.char-prepare .select-area .header>div .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1em;
    position: relative;
}
.char-prepare .select-area .header>div .box.text {
    font-size: 1.25rem;
}
.char-prepare .select-area .header>div .box>.text {
    position: absolute;
    top: 0;
    font-size: 0.75rem;
    margin-bottom: 0.1rem;
}
.char-prepare .select-area .header>div .select-all {
    height: 35%;
    aspect-ratio: 1 / 1;
    border: solid 0.2rem white;
}

.char-prepare .select-area .select-box {
    position: absolute;
    left: 10%;
    width: 90%;
    top: 0;
    height: 100%;
}
.char-prepare .select-area .select-box .h-scroll-child {
    /* padding: 1% 0.5%; */
    padding-left: 1%;
    padding-right: 6%;
    height: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-columns: 1fr;
}
.char-prepare .select-box .options {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(40, 1fr);
    grid-auto-flow: column;
    position: relative;
}
.char-prepare .select-box .camp-options {
    grid-template-rows: 1fr 1fr;
}
.char-prepare .select-box .option {
    aspect-ratio: 1 / 1;
    position: relative;
}
.char-prepare .select-box .option>.btn {
    position: absolute;
    top: 15%;
    left: 15%;
    height: 70%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    filter: drop-shadow( 0px 0.25em 0.1em rgba(0, 0, 0, 0.5));
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
}
.char-prepare .select-box .option:active>.btn {
    filter: drop-shadow( 0px 0.25em 0.1em rgba(0, 0, 0, 0.5)) brightness(80%);
}
.char-prepare .select-box .option:not(.hex)>.btn {
    border: solid 0.2rem white;
    border-radius: 5px;
}
.char-prepare .select-box .option.hex>.btn::before {
    content: '';
    position: absolute;
    top: -7.5%;
    left: -7.5%;
    aspect-ratio: 1 / 1;
    height: 115%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" ><g fill="white"><path d="M256,37.303l198.333,109.919v217.555L256,474.697L57.667,364.778V147.222L256,37.303 M256,0 L25.045,128v256L256,512l230.955-128V128L256,0z"/></g></svg>');
}
.char-prepare .select-box .option.hex.lock>.btn::before {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" ><g fill="%2385555f"><path d="M256,37.303l198.333,109.919v217.555L256,474.697L57.667,364.778V147.222L256,37.303 M256,0 L25.045,128v256L256,512l230.955-128V128L256,0z"/></g></svg>');
}

.char-prepare .select-box .option>.btn::after {
    font-family: Novecento;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    color: white;
}
.char-prepare .select-box .option.lock>.btn::after {
    color: #85555f;
}
.char-prepare .select-box .option>.btn.rarity.r1::after {
    content: '1★';
}
.char-prepare .select-box .option>.btn.rarity.r2::after {
    content: '2★';
}
.char-prepare .select-box .option>.btn.rarity.r3::after {
    content: '3★';
}
.char-prepare .select-box .option>.btn.rarity.r4::after {
    content: '4★';
}
.char-prepare .select-box .option>.btn.rarity.r5::after {
    content: '5★';
}
.char-prepare .select-box .option>.btn.rarity.r6::after {
    content: '6★';
}
.char-prepare .select-box .option>.btn.num.n2::after {
    content: '2';
}
.char-prepare .select-box .option>.btn.num.n3::after {
    content: '3';
}
.char-prepare .select-box .option>.btn.num.n4::after {
    content: '4';
}
.char-prepare .select-box .option>.btn.num.n5::after {
    content: '5';
}

.char-prepare .select-box .option.vline::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    height: 35%;
    width: 0.2rem;
    background-color: white;
    z-index: -1;
}
.char-prepare .select-box .option.hline::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 35%;
    height: 0.2rem;
    background-color: white;
    z-index: -1;
}
.char-prepare .select-box .option.unlock.vline::before,
.char-prepare .select-box .option.unlock.hline::after,
.char-prepare .select-box .option.lock.vline::before,
.char-prepare .select-box .option.lock.hline::after {
    background-color: #85555f;
}

.char-prepare .option .bg {
    position: absolute;
    left: 7.5%;
    top: 20%;
    width: 85%;
    height: 62.5%;
    box-sizing: border-box;
    background-color: #00a7e9;
    border-left: solid 0.2rem white;
    transition: all 100ms ease-in-out;
}
.char-prepare .option:not(.select) .bg {
    opacity: 0;
}

.char-prepare .option .circle-checkmark {
    position: absolute;
    right: 7.5%;
    bottom: 10%;
    width: 20%;
    height: 20%;
    aspect-ratio: 1 / 1;
    background-color: #00a7e9;
    border-radius: 50%;
    box-shadow: 0 0.14em 0.2em 0.05em rgba(0, 0, 0, 0.5);
    transition: all 100ms ease-in-out;
}
.char-prepare .option:not(.select) .circle-checkmark {
    opacity: 0;
}
.char-prepare .option .circle-checkmark .checkmark {
    fill: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
