.battle {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}

.battle .candidate-area {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.battle .candidate {
    position: relative;
    height: 80%;
    aspect-ratio: 1 / 2;
    background-color: black;
    box-shadow: 0 0 1em 0.1em hsla(0, 0%, 100%, 0.3);
    /* display: flex;
    align-items: center;
    justify-content: start; */
    --transiton-time: 0.25s;
    transition: all linear var(--transiton-time);
}
.battle .candidate:first-child:nth-last-child(2),
.battle .candidate:first-child:nth-last-child(2) ~ .candidate {
    margin: 0 8%;
}
.battle .candidate:first-child:nth-last-child(3),
.battle .candidate:first-child:nth-last-child(3) ~ .candidate {
    margin: 0 4%;
}
.battle .candidate:first-child:nth-last-child(4),
.battle .candidate:first-child:nth-last-child(4) ~ .candidate {
    margin: 0 2%;
}
.battle .candidate:first-child:nth-last-child(5),
.battle .candidate:first-child:nth-last-child(5) ~ .candidate {
    margin: 0 1%;
}

.battle .candidate .bg-text {
    position: absolute;
    top: 4%;
    right: 10%;
    writing-mode: vertical-rl;
    font-family: NotoSansHans;
    font-size: 2.5em;
    font-weight: 800;
    color: #353535;
}
.battle .candidate .portrait {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    aspect-ratio: 1 / 2;
}
.battle .candidate .in-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, black 0%, transparent 10%, transparent 60%, black 80%, black 100%);
}
.battle .candidate .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: bottom linear var(--transiton-time);
}

.battle .candidate .info .prof-img {
    position: absolute;
    bottom: 6%;
    left: 6%;
    width: 25%;
    aspect-ratio: 1 / 1;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
}
.battle .candidate .prof-img.PIONEER {
    background-image: url('../assets/class/class_pioneer.webp');
}
.battle .candidate .prof-img.WARRIOR {
    background-image: url('../assets/class/class_warrior.webp');
}
.battle .candidate .prof-img.TANK {
    background-image: url('../assets/class/class_tank.webp');
}
.battle .candidate .prof-img.SNIPER {
    background-image: url('../assets/class/class_sniper.webp');
}
.battle .candidate .prof-img.CASTER {
    background-image: url('../assets/class/class_caster.webp');
}
.battle .candidate .prof-img.MEDIC {
    background-image: url('../assets/class/class_medic.webp');
}
.battle .candidate .prof-img.SUPPORT {
    background-image: url('../assets/class/class_support.webp');
}
.battle .candidate .prof-img.SPECIAL {
    background-image: url('../assets/class/class_special.webp');
}
.battle .candidate .info .star {
    position: absolute;
    left: 37.5%;
    bottom: 21.5%;
    height: 12%;
}
.battle .candidate .info .name {
    position: absolute;
    left: 37.5%;
    bottom: 6.5%;
    height: 12%;
    font-family: NotoSansHans;
    font-weight: 500;
    line-height: 1em;
    /* font-size: 0.8em; */
    display: flex;
    align-items: center;
}
.battle .candidate .info .elite {
    position: absolute;
    bottom: 34%;
    left: 3.5%;
    width: 30%;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.battle .candidate .elite.e0 {
    background-image: url('../assets/elite/e0.webp');
}
.battle .candidate .elite.e1 {
    background-image: url('../assets/elite/e1.webp');
}
.battle .candidate .elite.e2 {
    background-image: url('../assets/elite/e2.webp');
}
.battle .candidate .elite.e3 {
    background-image: url('../assets/elite/e3.webp');
}
.battle .candidate .header {
    position: absolute;
    top: 2.5%;
    left: 5%;
    font-family: Bender;
    font-size: 0.7em;
    line-height: 1em;
    color: #999999;
}
.battle .candidate .header::after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 0.2em;
    width: 2em;
    background-color: #999999;
}

.battle .candidate.unchoose {
    filter: brightness(0.5);
}
.battle .candidate.choose {
    height: 84%;
    aspect-ratio: 1 / 2.1;
}
.battle .candidate.choose .in-shadow {
    background: linear-gradient(180deg, black 0%, transparent 10%, transparent 60%, black 80%, #d25d0f 90%, #ff6600 100%);
}
.battle .candidate.choose .info {
    bottom: 8%;
}
.battle .candidate.choose .info .prof-img {
    box-shadow: 0 0.3em 0.2em 0 hsla(0, 0%, 100%, 0.6);
}
.battle .candidate:not(.choose) .bottom-text {
    display: none;
}
.battle .candidate.choose .bottom-text {
    position: absolute;
    bottom: 4%;
    left: 7.5%;
    height: 0.3em;
    width: 50%;
}
.battle .candidate.choose .bottom-text::before {
    content: '';
    position: absolute;
    top: 10%;
    height: 70%;
    aspect-ratio: 1 / 1;
    background-color: white;
}
.battle .candidate.choose .bottom-text .text {
    font-family: Bender;
    font-size: 0.3em;
    line-height: 1em;
    position: absolute;
    left: 12.5%;
    white-space: pre;
}
