.battle {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}

.battle .candidate-area {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.battle .candidate {
    position: relative;
    height: 17.5em;
    width: 8.75em;
    background-color: black;
    box-shadow: 0 0 1em 0.1em hsla(0, 0%, 100%, 0.3);
    /* display: flex;
    align-items: center;
    justify-content: start; */
    --transiton-time: 0.2s;
    transition: all linear var(--transiton-time);
    animation-name: display-in;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    opacity: 0;
}
@keyframes display-in {
    0% {
        opacity: 0;
        transform: translateY(-7.5%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.battle .candidate:nth-child(2) {
    animation-delay: 100ms;
}
.battle .candidate:nth-child(3) {
    animation-delay: 200ms;
}
.battle .candidate:nth-child(4) {
    animation-delay: 300ms;
}
.battle .candidate:nth-child(5) {
    animation-delay: 400ms;
}
.battle .candidate:first-child:nth-last-child(2),
.battle .candidate:first-child:nth-last-child(2) ~ .candidate {
    margin: 0 8%;
}
.battle .candidate:first-child:nth-last-child(3),
.battle .candidate:first-child:nth-last-child(3) ~ .candidate {
    margin: 0 4%;
}
.battle .candidate:first-child:nth-last-child(4),
.battle .candidate:first-child:nth-last-child(4) ~ .candidate {
    margin: 0 2%;
}
.battle .candidate:first-child:nth-last-child(5),
.battle .candidate:first-child:nth-last-child(5) ~ .candidate {
    margin: 0 1%;
}

.battle .candidate .bg-text {
    position: absolute;
    top: 4%;
    right: 10%;
    writing-mode: vertical-rl;
    font-family: NotoSansHans;
    font-size: 2.5em;
    font-weight: 800;
    color: #353535;
}
.battle .candidate .portrait {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    aspect-ratio: 1 / 2;
    background-size: contain;
    background-repeat: no-repeat;
}
.battle .candidate .in-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, black 0%, transparent 10%, transparent 60%, black 80%, black 100%);
}
.battle .candidate .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: bottom linear var(--transiton-time);
}

.battle .candidate .info .prof-img {
    position: absolute;
    bottom: 6%;
    left: 6%;
    width: 25%;
    aspect-ratio: 1 / 1;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
}
.battle .candidate .prof-img.PIONEER {
    background-image: url('../assets/class/class_pioneer.webp');
}
.battle .candidate .prof-img.WARRIOR {
    background-image: url('../assets/class/class_warrior.webp');
}
.battle .candidate .prof-img.TANK {
    background-image: url('../assets/class/class_tank.webp');
}
.battle .candidate .prof-img.SNIPER {
    background-image: url('../assets/class/class_sniper.webp');
}
.battle .candidate .prof-img.CASTER {
    background-image: url('../assets/class/class_caster.webp');
}
.battle .candidate .prof-img.MEDIC {
    background-image: url('../assets/class/class_medic.webp');
}
.battle .candidate .prof-img.SUPPORT {
    background-image: url('../assets/class/class_support.webp');
}
.battle .candidate .prof-img.SPECIAL {
    background-image: url('../assets/class/class_special.webp');
}
.battle .candidate .info .star {
    position: absolute;
    left: 37%;
    bottom: 21.5%;
    height: 12%;
}
.battle .candidate .info .name {
    position: absolute;
    left: 36.5%;
    bottom: 6.5%;
    height: 12%;
    width: 57.5%;
}
.battle .candidate .info .name>div {
    font-family: FZYS;
    font-weight: 500;
    line-height: 1em;
    text-align: left;
}
.battle .candidate .info .elite {
    position: absolute;
    bottom: 34%;
    left: 3.5%;
    width: 30%;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.battle .candidate .elite.e0 {
    background-image: url('../assets/elite/e0.webp');
}
.battle .candidate .elite.e1 {
    background-image: url('../assets/elite/e1.webp');
}
.battle .candidate .elite.e2 {
    background-image: url('../assets/elite/e2.webp');
}
.battle .candidate .elite.e3 {
    background-image: url('../assets/elite/e3.webp');
}
.battle .candidate .header {
    position: absolute;
    top: 2.5%;
    left: 5%;
    font-family: Bender;
    font-size: 0.7em;
    line-height: 1em;
    color: #999999;
}
.battle .candidate .header::after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 0.2em;
    width: 2em;
    background-color: #999999;
}

.battle .candidate.unchoose {
    filter: brightness(0.5);
}
.battle .candidate.choose {
    height: 18.2em;
}
.battle .candidate.choose .in-shadow {
    background: linear-gradient(180deg, black 0%, transparent 10%, transparent 60%, black 80%, #d25d0f 90%, #ff6600 100%);
}
.battle .candidate.choose .info {
    bottom: 8%;
}
.battle .candidate.choose .info .prof-img {
    box-shadow: 0 0.3em 0.2em 0 hsla(0, 0%, 100%, 0.6);
}
.battle .candidate:not(.choose) .bottom-text {
    display: none;
}
.battle .candidate.choose .bottom-text {
    position: absolute;
    bottom: 4%;
    left: 7.5%;
    height: 0.3em;
    width: 50%;
}
.battle .candidate.choose .bottom-text::before {
    content: '';
    position: absolute;
    top: 10%;
    height: 70%;
    aspect-ratio: 1 / 1;
    background-color: white;
}
.battle .candidate.choose .bottom-text .text {
    font-family: Bender;
    font-size: 0.3em;
    line-height: 1em;
    position: absolute;
    left: 12.5%;
    white-space: pre;
}

.battle .title {
    position: absolute;
    top: 12.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
}

.battle .confirm {
    position: absolute;
    right: 0;
    bottom: 10%;
    height: 2.25em;
    width: 8.75em;
    background-color: white;
    color: black;
    font-family: NotoSansHans;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background-color 0.1s ease-in-out, bottom 50ms linear, transform 250ms linear;
}
.battle .confirm:hover {
    background-color: #ff6600;
}
.battle .confirm:active {
    bottom: 9.75%
}
.battle .confirm .ok-square {
    margin: 0 2.5%;
    height: 80%;
    aspect-ratio: 1 / 1;
}
.battle .confirm.close {
    transform: translateX(100%);
}

.battle .checkboxes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7.5%;
}
.battle .checkboxes .checkbox {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    padding-left: 1.4em;
    cursor: pointer;
}
.battle .checkboxes .checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.battle .checkboxes .checkbox input+span {
    position: absolute;
    top: 10%;
    left: 0;
    height: 80%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 3px;
}
.battle .checkboxes .checkbox:hover {
    filter: brightness(80%);
}
.battle .checkboxes .checkbox input:checked+span {
    background-color: #ff6600;
}
.battle .checkboxes .checkbox input+span .checkmark {
    display: none;
}
.battle .checkboxes .checkbox input:checked+span .checkmark {
    display: block;
    fill: white;
    height: 70%;
    width: 70%;
    position: relative;
    top: 15%;
    left: 15%;
}
.battle .checkboxes .checkbox.alldraw {
    cursor: not-allowed;
}
.battle .checkboxes .checkbox.alldraw input:checked+span {
    background-color: gray;
}
