.menu {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: gray;
    background-image: url("../assets/menu/scene_view.webp");
    background-size: cover;
}

.menu .skin-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .right-area {
    position: absolute;
    right: 0;
    height: 100%;
    width: 28em;
    overflow: hidden;
    perspective: 50em;
    font-size: 1.05em;
}

.menu .right-area .right-plate {
    transform: rotateY(-25deg) skew(-1.5deg, 1.5deg);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.menu .right-area .right-plate .top-line {
    width: 100%;
    text-align: center; 
    margin-bottom: 3.5em;
}
.menu .right-area .right-plate .top-line .clock {
    font-size: 0.9em;
    font-family: Novecento, NotoSansHans;
    text-align: left;
    display: inline-block;
    min-width: 10.5em;
    text-shadow: 2px 3px 0 #606060bf;
}
.menu .right-area .right-plate .top-line::before,
.menu .right-area .right-plate .top-line::after {
    background-color: #ffffff;
    content: '';
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
}
.menu .right-area .right-plate .top-line::before {
    right: 0.5em;
    margin-left: -50%;
    width: 10%;
}
.menu .right-area .right-plate .top-line::after {
    left: 0.5em;
    margin-right: -50%;
    width: 50%;
}

.menu .right-area .right-plate .btns {
    /* display: grid; */
    margin: 0.4em 0;
}
.menu .right-area .right-plate button {
    background-color: hsla(0, 0%, 93%, 0.925);
    color: #323232;
    position: relative;
    /* overflow: hidden; */
}
.menu .right-area .right-plate button:active {
    background-color: hsla(0, 0%, 77.5%, 0.925);
    color: #323232;
}
.menu .right-area .right-plate button::after {
    content: '';
    background-image: url('../assets/menu/button_pattern.webp');
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3rem;
    aspect-ratio: 3 / 1;
    z-index: 1;
    pointer-events: none;
}
.menu .right-area .right-plate .btn-title {
    font-family: FZYS;
    font-weight: 700;
    font-size: 2.4em;
    line-height: 1em;
    color: #323232;
}

.menu .right-area .right-plate .btn1s {
    height: 7.5em;
    width: 98%;
    box-shadow: var(--shadow);
}
.menu .right-area .right-plate .btn1s .battle-btn {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 1em 1em;
    box-sizing: border-box;
    position: relative;
}
.menu .right-area .right-plate .btn1s .battle-btn .btn-title {
    font-size: 3em;
}
.menu .right-area .right-plate .btn1s .battle-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 7%;
    height: 0.3em;
    width: 50%;
    transform: translateY(50%);
    background-color: #ff5119;
    z-index: 1;
}
.menu .right-area .right-plate .btn1s .battle-btn .battle-icon,
.menu .right-area .right-plate .btn1s .battle-btn .battle-icon2 {
    position: absolute;
    top: 10%;
    right: 25%;
    height: 85%;
    aspect-ratio: 1 / 1;
    background-image: url('../assets/menu/battle_icon.webp');
    background-size: contain;
    filter: invert(20%);
    z-index: 1;
}
.menu .right-area .right-plate .btn1s .battle-btn .battle-icon2 {
    transform: translateX(20%);
    filter: invert(17.5%);
    z-index: 0;
}
.menu .right-area .right-plate .btn1s .battle-btn:active .battle-icon {
    filter: invert(35%);
}
.menu .right-area .right-plate .btn1s .battle-btn:active .battle-icon2 {
    filter: invert(32.5%);
}

.menu .right-area .right-plate .btn2s {
    height: 4.75em;
    width: 105%;
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    gap: 1em;
}
.menu .right-area .right-plate .btn2s .placeholder {
    background-color: hsla(0, 0%, 0%, 0.85);
    height: 100%;
    width: 100%;
}

.menu .right-area .right-plate .btn2s button,
.menu .right-area .right-plate .btn4s button {
    padding: 0.6em 0.75em;
    box-sizing: border-box;
    display: flex;
    position: relative;
    box-shadow: var(--shadow);
}

.menu .right-area .right-plate .btn3s {
    height: 4.75em;
    width: 85%;
    background-color: rgb(34, 187, 255, 0.9);
    margin-right: 0.75em;
    box-shadow: var(--shadow);
}

.menu .right-area .right-plate .btn4s {
    height: 4.75em;
    width: 92.5%;
    display: grid;
    grid-template-columns: 6fr 5fr 2fr;
    margin-right: 2em;
}
.menu .right-area .right-plate .btn4s .task-btn {
    position: relative;
    margin-right: 1em;
}
.menu .right-area .right-plate .btn4s .task-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 0.3em;
    width: 75%;
    transform: translate(-50%, -50%);
    background-color: #ff5119;
}
.menu .right-area .right-plate .btn4s .infra-btn {
    z-index: 1;
}
.menu .right-area .right-plate .btn4s .store-btn {
    font-size: 0.6em;
    background-color: #424242;
    padding: 1.2em 0.7em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.menu .right-area .right-plate .btn4s .store-btn .btn-title {
    color: #ffffff;
    text-align: right;
}
.menu .right-area .right-plate .btn4s .store-btn:active {
    background-color: #343434;
}
.menu .right-area .right-plate .btn4s .store-btn:active .btn-title {
    color: #c8c8c8;
}


.menu .right-area .right-plate .btns button .icon {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 90%;
    aspect-ratio: 1 / 1;
    background-size: contain;
    filter: invert(20%);
}
.menu .right-area .right-plate .btn2s .char-btn .icon {
    background-image: url('../assets/menu/char_icon.webp');
}
.menu .right-area .right-plate .btn2s .team-btn .icon {
    right: 7.5%;
    background-image: url('../assets/menu/team_icon.webp');
}
.menu .right-area .right-plate .btn4s .task-btn .icon {
    top: 12.5%;
    height: 75%;
    background-image: url('../assets/menu/task_icon.webp');
}
.menu .right-area .right-plate .btn4s .infra-btn .icon {
    right: 7.5%;
    top: 12.5%;
    height: 75%;
    background-image: url('../assets/menu/infra_icon.webp');
}
.menu .right-area .right-plate .btn4s .store-btn .icon {
    position: absolute;
    left: 50%;
    right: unset;
    top: unset;
    bottom: 10%;
    height: 50%;
    aspect-ratio: 1 / 1;
    background-size: contain;
    filter: invert(65%);
    transform: translateX(-50%);
    background-image: url('../assets/menu/store_icon.webp');
}

.menu .right-area .right-plate .btns button:active .icon {
    filter: invert(35%);
}
.menu .right-area .right-plate .btn4s .store-btn:active .icon {
    filter: invert(70%);
}

.menu .panel {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
}
.menu .panel.close {
    display: none;
}

.menu .panel .header {
    position: relative;
    height: 14%;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: solid #ebebeb 1em;
    box-shadow: 0 0em 1em 0.5em hsla(0, 0%, 0%, 0.5);
    display: flex;
    flex-direction: row;
}

.menu .panel .header .back-btn-area {
    position: relative;
    height: 100%;
    width: 15%;
    top: 0;
    left: 0;
}
.menu .panel .header .back-btn-area .back-btn {
    position: relative;
    height: 40%;
    aspect-ratio: 3 / 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all 100ms ease-in-out;
}
.menu .panel .header .back-btn-area .back-btn:active {
    filter: brightness(90%);
}
.menu .panel .header .back-btn-area .back-btn>.chevron-left {
    fill: gray;
    position: absolute;
    left: 5%;
    top: 50%;
    height: 75%;
    transform: translateY(-50%);
}

.menu .panel .header>.title {
    position: relative;
    height: 100%;
    width: 14%;
    background-color: #eee;
    box-shadow: 0 0 0.2em 0.2em hsla(0, 0%, 0%, 0.2);
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 1em;
}
.menu .panel .header>.title>svg {
    fill: black;
    height: 2.5em;
    width: 2.5em;
    filter: drop-shadow(0px 0.5em 0.3em rgba(0, 0, 0, 0.4));
}
.menu .panel .header>.title>.text {
    color: #333;
    font-size: 1.25em;
    font-weight: 500;
}

.menu .panel .main-area {
    position: relative;
    height: 86%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menu .panel .tabs {
    position: relative;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1.5em;
}
.menu .panel .tabs .tab {
    position: relative;
    width: 75%;
    aspect-ratio: 5 / 2;
    margin: 0.25em 0;
    background-color: hsla(0, 0%, 20%, 0.5);
    border: solid 1px #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: Novecento;
    font-weight: bold;
    font-size: 1.25em;
    transition: all 50ms ease-in-out;
}
.menu .panel .tabs .tab.active {
    background-color: #eee;
    color: #333;
}
.menu .panel .tabs .tab:active:not(.active) {
    background-color: hsla(0, 0%, 0%, 0.5);
    border-color: #bbb;
}
.menu .panel .tabs .tab svg {
    width: 1.8em;
    height: 1.8em;
    fill: white;
}
.menu .panel .tabs .tab.active svg {
    fill: #565656;
}

.menu .panel .context {
    position: relative;
    height: 100%;
    width: 80%;
    background-color: hsla(0, 0%, 100%, 0.65);
}

.menu .panel .context .v-scroll-child {
    min-height: 100%;
}

.menu .panel .context .page {
    padding: 1.5rem 2rem;
    font-size: 1.2em;
}
.menu .panel .context .page>.title {
    background-color: #2e2e2e;
    border-top: solid #555 3px;
    color: #eee;
    padding-left: 1rem;
    font-family: Novecento;
    font-weight: bold;
}
.menu .panel .context .page .line {
    color: #323232;
    font-weight: 500;
    margin: 0.5rem 1rem;
}
.menu .panel .context .page .line:last-child {
    margin-bottom: 1.5rem;
}
.menu .panel .context .page .line.app-name-version {
    margin: 1rem 1rem;
}
.menu .panel .context .page .line>.line-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    
}
.menu .panel .context .page .line>.line-title>.text {
    margin: 0.25em 0;
}
.menu .panel .context .page .line>.line-title>.btn {
    box-sizing: border-box;
    height: 100%;
    width: 6em;
    background-color: black;
    border: solid hsl(0, 0%, 85%) 1px;
    box-shadow: 0 0.5em 0.5em 0px hsla(0, 0%, 0%, 0.4);
    color: #eee;
    font-family: Novecento;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
}
.menu .panel .context .page .line>.line-title>.btn:active {
    filter: brightness(80%);
}
.menu .panel .context .page .line>.line-title+.line-subtitle {
    font-size: 0.8em;
    color: #757575;
    padding-top: 0.5em;
    position: relative;
}
.menu .panel .context .page .line>.line-title+.line-subtitle::before {
    content: '';
    border-top: solid 2px #757575;
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
}
