.stat {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("../assets/stat_bg.webp");
    background-size: cover;
}

.stat .in-shadow {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 4.5em 1.5em rgba(0, 0, 0, 1);
    position: relative;
}

.stat .skin-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat .bottom-left-area {
    position: absolute;
    left: 1.5%;
    bottom: 4%;
    display: grid;
    grid-template-rows: auto auto;
}
.stat .right-area {
    position: absolute;
    right: 3%;
    /* bottom: 5%; */
    /* height: 100%; */
    max-height: 100%;
}
.stat .right-area .right-grid {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
}
.stat .right-area .right-grid>* {
    margin-bottom: 2em;
}
.stat .right-area .right-grid>*:first-child {
    margin-top: 4em;
}
.stat .bottom-left-area>div {
    align-self: last baseline;
}

.stat .name-overlay {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content:end;
    height: fit-content;
}
.stat .name-overlay .star {
    height: 1.5em;
    margin: 0;
    padding: 0;
    transform: translate(0.15em, 0.2em);
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}
.stat .name-overlay .name {
    margin: 0;
    width: 18.5rem;
    z-index: 2;
}
.stat .name-overlay .name>div {
    padding-top: 0.1em;
    font-family: FZYS;
    font-weight: 900;
    /* font-size: 4em; */
    line-height: 1em;
    text-shadow: var(--text-stroke);
}
.stat .name-overlay .name2 {
    width: 18.5rem;
    padding-left: 0.1em;
    margin: 0;
    z-index: 1;
}
.stat .name-overlay .name2>div {
    font-weight: 500;
    /* font-size: 1.5em; */
    line-height: 1em;
    text-shadow: var(--text-stroke);
}
.stat .name-overlay .class-tags {
    margin: 0.5em;
    margin-left: 0;
    display: grid;
    grid-template-areas: 
        "class-img class-name position-type"
        "class-img tags tags";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 0.3em;
    text-align: center;
}
.stat .name-overlay .class-img {
    grid-area: class-img;
    height: 4em;
    aspect-ratio: 1 / 1;
    opacity: 0.5;
    border: var(--tags-box-border);
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
}
.stat .name-overlay .class-img.PIONEER {
    background-image: url('../assets/class/class_pioneer.webp');
}
.stat .name-overlay .class-img.WARRIOR {
    background-image: url('../assets/class/class_warrior.webp');
}
.stat .name-overlay .class-img.TANK {
    background-image: url('../assets/class/class_tank.webp');
}
.stat .name-overlay .class-img.SNIPER {
    background-image: url('../assets/class/class_sniper.webp');
}
.stat .name-overlay .class-img.CASTER {
    background-image: url('../assets/class/class_caster.webp');
}
.stat .name-overlay .class-img.MEDIC {
    background-image: url('../assets/class/class_medic.webp');
}
.stat .name-overlay .class-img.SUPPORT {
    background-image: url('../assets/class/class_support.webp');
}
.stat .name-overlay .class-img.SPECIAL {
    background-image: url('../assets/class/class_special.webp');
}
.stat .name-overlay .class-tags .class-name {
    grid-area: class-name;
}
.stat .name-overlay .class-tags .position-type {
    grid-area: position-type;
}
.stat .name-overlay .class-tags .class-name,
.stat .name-overlay .class-tags .position-type {
    width: 7em;
    background-color: var(--tags-box-color);
    /* border: var(--tags-box-border); */
    border-radius: 5px;
    line-height: 1em;
}
.stat .name-overlay .class-tags .tags {
    grid-area: tags;
    background-color: var(--tags-box-color);
    /* border: var(--tags-box-border); */
    border-radius: 5px;
    line-height: 2em;
}
.stat .name-overlay .class-tags>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat .statistic {
    margin-left: 0.1em;
    transform: translateY(0.5em);
    display: grid;
    grid-template-areas: 
        "rank-title ."
        "rati wins"
        "devi draw"
        "vola loss"
        "winrate winrate";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 0.3em;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}
.stat .statistic .detail-item,
.stat .statistic .winrate,
.stat .statistic .rank-title {
    background-color: #ffffffbf;
    color: #000000;
}
.stat .statistic .rank-title {
    grid-area: rank-title;
    background: linear-gradient(90deg, transparent 0%, #ffffff 15%, #ffffff 40%, transparent 100%);
    border-radius: 3px;
    padding: 0 0.3em;
    font-family: NotoSansHans;
}
.stat .statistic .detail-item {
    display: flex;
    flex-direction: row;
    background-color: #ffffffbf;
    color: #000000;
    border-radius: 3px;
    font-weight: 500;
    line-height: 1.25em;
}
.stat .statistic .detail-icon {
    background-color: #000000;
    color: #ffffff;
    font-size: 0.8em;
    text-align: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 3px 0px 0px 3px;
    font-family: NotoSansHans;
}
.stat .statistic .extend-word {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-right: 0.5em;
    min-width: 4.5em;
    text-align: left;
    text-wrap: nowrap;
    transition: all ease-in-out 0.5s;
    overflow: hidden;
}
.stat .statistic.close .extend-word {
    max-width: 0;
    min-width: 0;
    width: 0;
    margin: 0;
    padding: 0;
}
.stat .statistic:not(.close) .extend-word {
    width: 4.5em;
}
.stat .statistic .rati {
    grid-area: rati;
}
.stat .statistic .devi {
    grid-area: devi;
}
.stat .statistic .vola {
    grid-area: vola;
}
.stat .statistic .wins {
    grid-area: wins;
}
.stat .statistic .draw {
    grid-area: draw;
}
.stat .statistic .loss {
    grid-area: loss;
}
.stat .statistic .detail-item .detail-number.progress {
    height: 100%;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
}
.stat .statistic .detail-item .detail-number.progress .progress-value {
    border-radius: 0;
    text-indent: 0.2em;
    background-color: #a0a0a0;
    padding-right: 0.2em;
}
.stat .statistic .winrate {
    grid-area: winrate;
    margin: 0.3em 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0.1em 0.2em;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 25%, #ffffff7f 50%, #ffffff7f 100%);
}
.stat .statistic .winrate .winrate-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Novecento;
    padding: 0;
    margin: 0;
    line-height: 1em;
}
.stat .statistic .winrate .progress {
    height: 0.6em;
    width: 100%;
    background-color: #7d7d7d;
    box-shadow: inset 0px 0px 0px 2px #ffffff;
    border-radius: 5px;
}
.stat .statistic .winrate .progress .progress-value {
    background-color: #ffa260;
    box-shadow: inset 0px 0px 0px 2px #ffffff;
    border-radius: 5px;
}

.stat .ranking {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.stat .ranking .progress-circle {
    --stroke-width: 0.2em;
    z-index: 1;
}
.stat .ranking .progress-circle svg {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.7));
}
.stat .ranking .rank-num {
    font-size: 1.5em;
    font-weight: bold;
}
.stat .ranking .rank-title {
    font-size: 0.4em;
    font-weight: 400;
    position: absolute;
    top: 0.4em;
}
.stat .ranking .rank-num,
.stat .ranking .rank-title {
    width: 100%;
    text-align: center;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    font-family: Novecento;
    font-weight: bold;
}
.stat .ranking .rank-bar {
    /* padding-left: 0.3em; */
    width: 11.2em;
    height: 2.7em;
    background-color: #313131;
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
    /* transform: translateX(-0.4em); */
    position: relative;
    /* right: -0.4em; */
    --total: 331;
}
.stat .ranking .rank-bar::before {
    content: '';
    position: absolute;
    left: -0.5em;
    width: 0.6em;
    height: 100%;
    background: radial-gradient(circle at -2.6em center, transparent, transparent 3em, #313131 0, #313131);
    /* box-shadow: -4px 4px 6px 0 rgba(0, 0, 0, 0.2); */
}
.stat .ranking .rank-bar::after {
    counter-reset: t var(--total);
    content: '/' counter(t);
    position: absolute;
    top: 100%;
    left: -0.5em;
    width: 100%;
    text-align: left;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    font-family: Novecento;
    font-weight: normal;
}
.stat .ranking:active .rank-bar {
    background-color: #262626;
}
.stat .ranking:active .rank-bar::before {
    background: radial-gradient(circle at -2.6em center, transparent, transparent 3em, #262626 0, #262626);
}
.stat .ranking .rank-bar .rank-bar-title {
    font-size: 0.5em;
    line-height: 0.8em;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0.5rem, calc(-50% - 1.2em));
}
.stat .ranking .rank-bar .rank-bar-detail {
    font-size: 0.7em;
    line-height: 1em;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0.5rem, calc(-50% + 0.5em));
}
.stat .ranking .rank-bar .rank-bar-more {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.stat .top-btns .skin-pos-btn {
    margin-left: 1em;
}

.stat .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    transform: translate(-10%, -12%);
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    filter: invert(0.5);
    opacity: 0.4;
}
.stat .logo.abyssal {
    background-image: url('../assets/logo/logo_abyssal.webp');
}
.stat .logo.action4 {
    background-image: url('../assets/logo/logo_action4.webp');
}
.stat .logo.babel {
    background-image: url('../assets/logo/logo_babel.webp');
}
.stat .logo.blacksteel {
    background-image: url('../assets/logo/logo_blacksteel.webp');
}
.stat .logo.bolivar {
    background-image: url('../assets/logo/logo_bolivar.webp');
}
.stat .logo.chiave {
    background-image: url('../assets/logo/logo_chiave.webp');
}
.stat .logo.columbia {
    background-image: url('../assets/logo/logo_columbia.webp');
}
.stat .logo.dublinn {
    background-image: url('../assets/logo/logo_dublinn.webp');
}
.stat .logo.egir {
    background-image: url('../assets/logo/logo_egir.webp');
}
.stat .logo.elite {
    background-image: url('../assets/logo/logo_elite.webp');
}
.stat .logo.followers {
    background-image: url('../assets/logo/logo_followers.webp');
}
.stat .logo.glasgow {
    background-image: url('../assets/logo/logo_glasgow.webp');
}
.stat .logo.higashi {
    background-image: url('../assets/logo/logo_higashi.webp');
}
.stat .logo.iberia {
    background-image: url('../assets/logo/logo_iberia.webp');
}
.stat .logo.karlan {
    background-image: url('../assets/logo/logo_karlan.webp');
}
.stat .logo.kazimierz {
    background-image: url('../assets/logo/logo_kazimierz.webp');
}
.stat .logo.kjerag {
    background-image: url('../assets/logo/logo_kjerag.webp');
}
.stat .logo.laterano {
    background-image: url('../assets/logo/logo_laterano.webp');
}
.stat .logo.lee {
    background-image: url('../assets/logo/logo_lee.webp');
}
.stat .logo.leithanien {
    background-image: url('../assets/logo/logo_leithanien.webp');
}
.stat .logo.lgd {
    background-image: url('../assets/logo/logo_lgd.webp');
}
.stat .logo.lungmen {
    background-image: url('../assets/logo/logo_lungmen.webp');
}
.stat .logo.minos {
    background-image: url('../assets/logo/logo_minos.webp');
}
.stat .logo.penguin {
    background-image: url('../assets/logo/logo_penguin.webp');
}
.stat .logo.pinus {
    background-image: url('../assets/logo/logo_pinus.webp');
}
.stat .logo.rainbow {
    background-image: url('../assets/logo/logo_rainbow.webp');
}
.stat .logo.reserve1 {
    background-image: url('../assets/logo/logo_reserve1.webp');
}
.stat .logo.reserve4 {
    background-image: url('../assets/logo/logo_reserve4.webp');
}
.stat .logo.reserve6 {
    background-image: url('../assets/logo/logo_reserve6.webp');
}
.stat .logo.rhine {
    background-image: url('../assets/logo/logo_rhine.webp');
}
.stat .logo.rhodes {
    filter: none;
    background-image: url('../assets/logo/logo_rhodes_override.webp');
}
.stat .logo.rim {
    background-image: url('../assets/logo/logo_rim.webp');
}
.stat .logo.sami {
    background-image: url('../assets/logo/logo_sami.webp');
}
.stat .logo.sargon {
    background-image: url('../assets/logo/logo_sargon.webp');
}
.stat .logo.siesta {
    background-image: url('../assets/logo/logo_siesta.webp');
}
.stat .logo.siracusa {
    background-image: url('../assets/logo/logo_siracusa.webp');
}
.stat .logo.student {
    background-image: url('../assets/logo/logo_student.webp');
}
.stat .logo.sui {
    background-image: url('../assets/logo/logo_sui.webp');
}
.stat .logo.sweep {
    background-image: url('../assets/logo/logo_sweep.webp');
}
.stat .logo.ursus {
    background-image: url('../assets/logo/logo_ursus.webp');
}
.stat .logo.victoria {
    background-image: url('../assets/logo/logo_victoria.webp');
}
.stat .logo.yan {
    background-image: url('../assets/logo/logo_yan.webp');
}
