.v-scroll {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    /* touch-action: none; */
}
.v-scroll::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.v-scroll .v-scroll-child {
    margin: 0;
    padding: 0;
    width: 100%;
}
.v-scroll .placeholder {
    margin: 0;
    padding: 0;
    height: 15em;
    width: 100%;
}

.h-scroll {
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    /* touch-action: none; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.h-scroll::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.h-scroll .h-scroll-child {
    margin: 0;
    padding: 0;
    height: 100%;
}
.h-scroll .placeholder {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 15em;
}
